*{
    margin: 0;
    padding: 0;
 
}

             /* ****************   Header Section    **************** */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    
} 

nav{
    display: flex ;
    gap: 20px;
}

nav a{
  text-decoration: none;  
  color: black;
}

#logo{
  text-decoration: none;  
  color: black;
  

}
nav button{
    padding: 2px;
}

        /* ****************   Hero Section    **************** */


.hero {
    min-height: 91.2vh;
    position: relative;
    overflow: hidden;
    background: white;
}


.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    background-image: url("images/white.png");
    background-size: cover;
    background-position: center;
}


.hero-content {
    position: relative;
    z-index: 2;
    width: 90%;
    /* max-width: 1200px; */
    margin:0 auto;
    padding-top: 200px;

}

.hero-content h1 {
    font-size: 50px;
    /* max-width: 300px; */
}

.hero-content span {
    font-family: monospace;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;

    width: 0;
    border-right: 2px solid;

    background: linear-gradient(
        to right,
        #fd2020,
        #0ec63c

    );

    /* -webkit-background-clip: text; */
    background-clip: text;
    -webkit-text-fill-color: transparent;

    animation:
        typing 3s steps(30) forwards,
        blink 1s step-end infinite;
}



    
.hero-content p {
    max-width: 500px;
    line-height: 1.6;
}


.hero-image::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to right,
        white 0%,
        white 15%,
        rgba(255, 255, 255, 0.8) 35%,
        rgba(255, 255, 255, 0.3) 55%,
        transparent 75%
    );
}



 
  



@keyframes typing {
    from {
        width: 0%;

    }
    to {
        width: 32ch;
    }
}

@keyframes blink  {
    50% {
        border-color: transparent;
    }
}




        /* ****************   About  Section    **************** */


.aboutsection{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    border: 1px solid #9b7e7e;
    height: 50px;
    align-items: center;
}
 
